@import url('https://fonts.googleapis.com/css?family=Poppins:200,300,400,500,600,700,800,900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Inter', sans-serif;
    font-family: 'Roboto', sans-serif;
    scroll-behavior: smooth;
}

p, ol, ul {
    font-weight: 300;
    line-height: 1.7em;
}


/*NAVIGATION*/
header nav {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 10px 20px;
    z-index: 1;
    display: flex;
    justify-content: space-between;
    align-items: center;
    transition: 0.5s;
}

header .active {
    background: #fff;
    padding: 10px 100px;
    box-shadow: 0 5px 20px rgba(0,0,0,0.05);
}

header .active .navigation li a {
    color: #111;
}

header .active .navigation li a:hover {
    color: #E77728;
}

.logo img {
    position: relative;
    padding-left: 50px;
    width: 300px;
}

.navigation {
    position: relative;
    display: flex;
}

li {
    list-style: none;
    margin-left: 0;
}

li a {
    text-decoration: none;
    color: #000;
    font-size: 1.2em;
    padding: 10px;
}

li a:hover {
    color: #E77728;
}

.clubs h2 {
    position: absolute;
    top: 125px;
    left: 75px;
}

.clubs .content{
    height: 275px;
    padding-top: 75px;
    margin-top: 40px;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    flex-direction: row;
}

.clubs .content .box{
    width: 320px;
    margin: 70px;
    padding: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    border-style: solid;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
}

.clubs .content .box:hover {
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}

.clubs .content .box a:link, a:visited {
    color: black;
    text-decoration: none;
}

.clubs .content .box .club-logo{
    position: relative;
    width: 80px;
    height: 80px;
    margin-bottom: 20px;
    border-radius: 50%;
    overflow: hidden;
}

.clubs .content .box .club-logo img{
    position: relative;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.clubs .content .box .details{
    text-align: center;
}

.clubs .content .box .details h3{
    margin-top: 20px;
    color: #000;
    font-size: 1.2em;
    font-weight: 600;
}

.clubs .content .box .details p{
    color: #000;
}

/* CLUB INFO */
.club-info .info{
    height: 1100px;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    flex-direction: row;
}

.club-info .info .columns{
    width: 320px;
    margin: 70px;
    padding: 20px;
    display: flex;
    flex-direction: column;
}

/* CLUB INFO - TRAINING TIMES */
.club-info .info .columns .training-times{
    padding-top: 20px;
    height: 425px;
}

.club-info .info .columns .details .training-times h3, h4, h5, ul{
    padding: 5px;
}

.club-info .info .columns .details .training-times ul{
    list-style: none;
    line-height: 25px;
}

/* CLUB INFO - COSTS */
.club-info .info .columns .costs{
    padding-top: 30px;
    height: 320px;
}

.club-info .info .columns .details .costs h3, h4, p{
    padding: 5px;
}

.club-info .info .columns .details .costs ul{
    list-style: none;
    line-height: 25px;
}

/* CLUB INFO - CONTACT */
.club-info .info .columns .contact{
    padding-top: 30px;
    height: 300px;
}

.club-info .info .columns .details .contact h3, p, a{
    padding: 5px;
}

.club-info .info .columns .contact a{
    color: #0000EE;
}

.club-info .info .columns .contact a:hover{
    color: #E77728;
}

.club-info .info .columns .contact a:visited{
    color: #0000EE;
}


/* FOOTER */
.copyrightText {
    padding: 8px 40px;
    border-top: 1px solid rgba(0,0,0,0.1);
    text-align: center;
    background-color: #ff4e00;
    background-image: linear-gradient(315deg, #ff4e00 0%, #ec9f05 74%);
}

.copyrightText p {
    color: #555;
}

.copyrightText a {
    color: #fff;
    font-weight: 500;
    text-decoration: none;
}