* {
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    /* font-family: 'Inter', sans-serif;
    font-family: 'Roboto', sans-serif; */
    font-family: 'Inter', sans-serif;
    font-family: 'Poppins', sans-serif;
    font-family: 'Roboto', sans-serif;
}

.index-header {
    min-height: 100vh;
    width: 100%;
    background-image: linear-gradient(rgba(4, 9, 30, 0.7), rgba(4, 9, 30, 0.7)), url('https://wallpaperaccess.com/full/433607.jpg');
    background-position: center;
    background-size: cover;
    position: relative;
}

nav {
    display: flex;
    padding: 2% 6%;
    justify-content: space-between;
    align-items: center;
}

nav img {
    width: 25%;
    position: relative;
}

.nav-links {

    text-align: right;
}

.nav-links ul li {
    list-style: none;
    display: inline-block;
    padding: 8px 12px;
    position: relative;
}

.nav-links ul li a {
    color: #fff;
    text-decoration: none;
    font-size: 20px;
}

.nav-links ul li a::after {
    content: '';
    width: 0%;
    height: 2px;
    background: #F28C28;
    display: block;
    transition: 0.5s;
}

.nav-links ul li a:hover::after {
    width: 100%;
}

.fa-bars {
    display: none !important;
}

.fa-xmark {
    display: none !important;
}

footer {
    display: flex;
    justify-content: space-evenly;
    text-align: center;
    align-items: center;
    flex-flow: row;
    background-color: #d6d7d9;
    padding: 1% 0 1% 0;
}

footer h2 {
    font-weight: 500;
    white-space: nowrap;
    text-align: center;
    color: #212121;
    padding: 2% 2% 2% 2%;
}

.judont-footer-logo {
    max-height: 10vh;
}

.footer-col-1 p {
    color: rgb(53, 51, 51);
    font-size: 14px;
    white-space: nowrap;
    text-align: center;
    font-weight: 300;
    line-height: 22px;
    margin: 2% 2% 2% 2%;
}

footer a {
    color: #212121;
    text-decoration: none;
}

.footer-col-2 {
    display: flex;
    flex-flow: column;
    align-items: flex-start;
}

.footer-inline {
    display: inline-flex;
    align-items: center;
    padding: 3%;
}

.footer-col-2 h3 {
    white-space: nowrap;
    padding: 0 3% 0 3%;
    font-weight: 400;
    color: black;
}

footer .footer-col-1 i,
footer .footer-col-2 i {
    font-size: 1.5rem;
    margin: 2% 2% 2% 2%;
}

.org-logo {
    height: 5vh;
    width: auto;
}

.page-title {
    text-align: center;
    font-size: 3rem;
    font-weight: 600;
    color: #fff;
    padding-top: 5vh;
}

.asterisk {
    color: #cc0000;
}

/* Home Page */

.text-box {
    width: 90%;
    color: #fff;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}

.text-box h1 {
    font-size: 62px;
}

.text-box p {
    margin: 10px 0 40px;
    font-size: 18px;
}

.register-btn {
    display: inline-block;
    text-decoration: none;
    color: #fff;
    border: 1px solid #fff;
    padding: 12px 34px;
    font-size: 15px;
    background: transparent;
    position: relative;
    cursor: pointer;
}

.register-btn:hover {
    border: 1px solid #F28C28;
    background: #F28C28;
    transition: 1s;
}

.clubs {
    width: 80%;
    margin: auto;
    text-align: center;
    padding-top: 2%;
    padding-bottom: 2%;
}

.clubs h1 {
    font-size: 36px;
    font-family: 600;
}

.clubs p {
    color: #777;
    font-size: 14px;
    font-weight: 300;
    line-height: 22px;
    padding: 10px;
}

.clubs-row {
    margin-top: 2%;
    display: flex;
    justify-content: space-between;
    flex-flow: row wrap;
}

.clubs-col {
    flex-basis: 33%;
    border-radius: 10px;
    margin-bottom: 30px;
    position: relative;
    overflow: hidden;
}

.clubs-col img {
    width: 50%;
    margin-bottom: 10px;
}

.clubs-effect {
    background: transparent;
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    transition: 0.5s;
}

.clubs-effect:hover {
    background: rgba(245, 122, 8, 0.7);
    cursor: pointer;
}

.clubs-effect h3 {
    width: 100%;
    font-weight: 600;
    color: #fff;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    position: absolute;
    opacity: 0;
    transition: 0.5s;
}

.clubs-effect:hover h3 {
    bottom: 50%;
    opacity: 1;
}


.info-header {
    min-height: 50vh;
    width: 100%;
    background-image: linear-gradient(rgba(4, 9, 30, 0.7), rgba(4, 9, 30, 0.7)), url('https://wallpaperaccess.com/full/433626.jpg');
    background-position: center;
    background-size: cover;
    position: relative;
}


/* Club Information Page */

.club-section {
    width: 100%;
    margin: auto;
    text-align: center;
    padding-top: 2%;
    padding-bottom: 2%;
    background: #F5F5F5;
    transition: all .05s ease-in-out;
}

.club-section:hover {
    /* transform: scale(1.1); */
    background: radial-gradient(circle at 10% 20%, rgb(255, 200, 124) 0%, rgb(252, 251, 121) 90%);
    border-top: #737491 solid 1px;
    border-bottom: #737491 solid 1px;
}

.club-info-row {
    display: flex;
    justify-content: space-evenly;
    flex-flow: row wrap;
    margin-top: 2%;
    align-items: center;
    align-content: center;
}

.club-section h2 {
    font-weight: 600;
    font-size: 2rem;
}

.club-section h3 {
    font-weight: 500;
    font-size: 1.75rem;
    padding-top: 5%;
    padding-bottom: 5%;
}

.club-section h4 {
    font-weight: 500;
    font-size: 1.25rem;
    padding-top: 5%;
}

.club-section h5 {
    font-weight: 300;
    font-size: 1rem;
    padding-top: 1%;
    padding-bottom: 1%;
}

.club-section p {
    color: black;
    font-size: 14px;
    font-weight: 300;
    line-height: 22px;
}

.club-section a {
    color: black;
    text-decoration: none;
    font-size: 14px;
    font-weight: 300;
    line-height: 22px;
}

.google-map {
    width: 600px;
    height: 400px;
    padding: 2%;
}

/* Contact Page */

.contact {
    width: 80%;
    margin: auto;
    padding: 3%;
}

.contact-row {
    display: flex;
    justify-content: space-evenly;
    flex-flow: row wrap;
}

.contact-col {
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: stretch;
    padding: 1% 8% 1% 1%;
    margin: 0 2% 0 2%;
}

.contact p {
    font-size: 16px;
    font-family: 400;
}

.contact-label {
    display: block;
    color: #777;
    font-size: 14px;
    font-weight: 300;
    padding: 5% 5% 5% 5%;
}

.contact-input {
    border: solid 1px #dfdfeb;
    border-radius: 0.75rem;
    width: 100%;
    padding: 5% 5% 5% 5%;
}

.contact-input:focus {
    color: #737491;
    background-color: #fff;
    border-color: rgba(231, 119, 40, 0.35)
}

.contact-botcheck {
    display: inline-block;
}

.contact-submit-btn {
    display: block;
    color: #fff;
    padding: 5% 5% 5% 5%;
    width: 125%;
    margin-top: 10px;
    background-color: #E77728;
    font-weight: 500;
    border: solid 1px transparent;
    border-radius: 0.75rem;

}

.contact-submit-btn:hover {
    cursor: pointer;
    background-color: #d16417;
}

.contact-notice {
    padding: 5%;
    margin-bottom: 3%;
    border: 1px solid transparent;
    border-radius: 1rem;
    background-color: #f7f7fc;
    border-color: #e9e9f2;
    color: #737491;
    width: 100%;
}

.contact-detail-col {
    padding: 2% 0 2% 0;
}

.contact-detail-col:hover {
    transform: scale(1.1);
}

.contact-detail-col h2 {
    font-weight: 700;
    font-size: 1.5rem;
}

.contact-detail-col h3 {
    font-weight: 600;
    font-size: 1rem;
    padding-top: 5%;
    padding-bottom: 5%;
}

#validate_name_error,
#validate_email_error,
#validate_message_error,
#validate_botcheck_error {
    margin: 5px 0 0 5px;
    display: none;
    color: red;
}

/* Gallery Page */

.main-gallery {
    width: 100%;
    flex-direction: column;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 2% 0 2% 0;
}

.gallery {
    display: grid;
    width: 90%;
    grid-template-columns: repeat(5, 1fr);
    grid-auto-rows: 250px;
    grid-gap: 10px;
}

.gallery-item {
    cursor: pointer;
    overflow: hidden;
    border-radius: 4px;
}

.gallery-item img {
    width: 100%;
    height: 100%;
    transition: 0.3s ease-in-out;
}

.gallery-item img:hover {
    opacity: 0.7;
}

.modal {
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.733);
    margin-top: -1px;
    animation: zoom 0.3s ease-in-out;
}

.modal img {
    height: 80vh;
}

@keyframes zoom {
    from {
        transform: scale(0);
    }

    to {
        transform: scale(1);
    }
}

.close-btn {
    color: rgba(255, 255, 255, 0.66);
    font-size: 20px;
    position: absolute;
    top: 0;
    right: 0;
    margin: 20px;
    cursor: pointer;
    transition: 0.3s ease-in-out;
}

.close-btn:hover {
    color: rgb(255, 255, 255, 1);
}

.prev-btn {
    color: rgba(255, 255, 255, 0.66);
    margin-right: 20px;
    font-size: 25px;
    cursor: pointer;
}

.prev-btn:hover {
    color: rgb(255, 255, 255, 1);
}

.next-btn {
    color: rgba(255, 255, 255, 0.66);
    margin-left: 20px;
    font-size: 25px;
    cursor: pointer;
}

.next-btn:hover {
    color: rgb(255, 255, 255, 1);
}


/* News & Events Page */

.news-events-header {
    min-height: 100vh;
    width: 100%;
    background-image: linear-gradient(rgba(4, 9, 30, 0.7), rgba(4, 9, 30, 0.7)), url('../images/judo_events.jpg');
    background-position: center;
    background-size: cover;
    position: relative;

}

.news {
    width: 80%;
    margin: auto;
    text-align: center;
    padding-top: 2%;
}

.news-col {
    flex-basis: 33%;
    border-radius: 10px;
    border-style: outset;
    border-color: black;
    margin-bottom: 30px;
    padding-left: 10px;
    position: relative;
    overflow: hidden;
}

.news-row {
    margin-top: 2%;
    display: flex;
    justify-content: space-between;
    flex-flow: row wrap;
}

.events {
    width: 80%;
    margin: auto;
    text-align: center;
    padding-top: 2%;
}

.events-col {
    flex-basis: 33%;
    border-radius: 10px;
    border-style: outset;
    border-color: black;
    margin-bottom: 30px;
    padding-left: 10px;
    position: relative;
    overflow: hidden;
}

.events-row {
    margin-top: 2%;
    display: flex;
    justify-content: space-between;
    flex-flow: row wrap;
}

.hr {
    border: 10px solid black;
    border-radius: 5px;
}

/* Media Queries */

@media (max-width: 1012px) {
    nav {
        background-color: #fff;
        height: 5vh;
        position: fixed;
        box-shadow: 0 0.125rem 0.625rem -0.1875rem rgb(0 0 0 / 10%);
        z-index: 2;
    }

    .nav-links {
        display: block;
        background: #F28C28;
        position: fixed;
        top: 0;
        right: 0;
        height: 100vh;
        width: 50%;
        z-index: 2;
        text-align: left;
    }

    .nav-links ul li {
        display: block;
        margin-bottom: 3%;
    }

    .nav-links ul li a:hover {
        color: #777
    }

    .fa-xmark {
        display: block !important;
        cursor: pointer;
        color: #fff;
        opacity: 0.7;
        font-size: 20px;
        margin: 5%;
    }

    .fa-xmark:hover {
        opacity: 1;
    }

    .fa-bars {
        display: block !important;
        cursor: pointer;
        color: #F28C28;
        opacity: 0.7;
        font-size: 20px;
        margin: 2%;
    }

    .fa-bars:hover {
        opacity: 1;
    }

    .page-title {
        padding-top: 25vh;
    }
}

@media screen and (max-width: 1012px) {
    footer {
        flex-flow: column;
    }

    .clubs-row {
        flex-direction: column;
    }

    .modal img {
        height: 40vh;
    }

    .close-btn {
        margin-top: 12vh;
    }
}

@media screen and (max-width: 700px) {
    .club-section {
        border-top: #737491 solid 1px;
        border-bottom: #737491 solid 1px;
    }

    .club-info-row {
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .google-map {
        width: 100%;
        height: 40vh;
    }

    .modal img {
        height: 30vh;
    }
}

@media (max-width: 950px) {
    .gallery {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media (max-width: 550px) {
    .gallery {
        grid-template-columns: repeat(1, 1fr);
    }
}