* {
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    /* font-family: 'Inter', sans-serif;
    font-family: 'Roboto', sans-serif; */
    font-family: 'Inter', sans-serif;
    font-family: 'Poppins', sans-serif;
    font-family: 'Roboto', sans-serif;
}

/*NAVIGATION*/
.news-events-header {
    min-height: 100vh;
    width: 100%;
    background-image: linear-gradient(rgba(4, 9, 30, 0.7), rgba(4, 9, 30, 0.7)), url('../images/judo_events.jpg');
    background-position: center;
    background-size: cover;
    position: relative;
}

nav {
    display: flex;
    padding: 2% 6%;
    justify-content: space-between;
    align-items: center;
}

nav img {
    width: 25%;
    position: relative;
}

.nav-links {

    text-align: right;
}

.nav-links ul li {
    list-style: none;
    display: inline-block;
    padding: 8px 12px;
    position: relative;
}

.nav-links ul li a {
    color: #fff;
    text-decoration: none;
    font-size: 20px;
}

.nav-links ul li a::after {
    content: '';
    width: 0%;
    height: 2px;
    background: #F28C28;
    display: block;
    transition: 0.5s;
}

.nav-links ul li a:hover::after {
    width: 100%;
}

.fa-bars {
    display: none !important;
}

.fa-xmark {
    display: none !important;
}

.text-box {
    width: 90%;
    color: #fff;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}

.text-box h1 {
    font-size: 62px;
}

.text-box p {
    margin: 10px 0 40px;
    font-size: 18px;
}


/* NEWS CONTENT */
.news {
    max-width: 1000px;
    margin: auto;
    text-align: justify;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    flex-direction: row;
}

.news .box {
    position: relative;
    margin: 20px;
    border-style: solid;
    border-width: 1px;
    border-radius: 10px;
}

.news h2 {
    padding-top: 20px;
    font-size: 2.2em;
    text-align: center;
}

.news h3 {
    text-decoration: underline;
    padding-bottom: 10px;
}

.news img {
    width: 250px;
    border-radius: 10px;
    padding: 20px;
    float: left;
    
}

.text {
    font-size: 20px;
    padding: 20px;
}

.text .postTime {
    position: absolute;
    right: 20px;
    bottom: 10px;
    color: #808080;
}

.moreText {
    display: none;
}
  
.text.show-more .moreText {
    display: inline;
}
  
.readMoreBtn {
    margin-top: 20px;
    padding: 15px 40px;
    background-color: rgb(149, 170, 197);
    color:rgb(53, 49, 49);
    border: none;
    outline: none;
    border-radius: 8px;
    font-size: 14px;
    cursor: pointer;
}

.dots {
    display: inline-block;
}
  
.text.show-more .dots {
    display: none;
}

/* EVENTS */
.events {
    margin: auto;
    position: relative;
    text-align: justify;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    flex-direction: row;
}

.eventList {
    margin: 20px;
}

.events h2 {
    font-size: 2.2em;
    text-align: center;
}

.col {
    float: left;
    width: 50%;
}

/* FOOTER */
footer {
    display: flex;
    justify-content: space-evenly;
    text-align: center;
    align-items: center;
    flex-flow: row;
    background-color: #d6d7d9;
    padding: 1% 0 1% 0;
}

footer h2 {
    font-weight: 500;
    white-space: nowrap;
    text-align: center;
    color: #212121;
    padding: 2% 2% 2% 2%;
}

.judont-footer-logo {
    max-height: 10vh;
}

.footer-col-1 p {
    color: rgb(53, 51, 51);
    font-size: 14px;
    white-space: nowrap;
    text-align: center;
    font-weight: 300;
    line-height: 22px;
    margin: 2% 2% 2% 2%;
}

footer a {
    color: #212121;
    text-decoration: none;
}

.footer-col-2 {
    display: flex;
    flex-flow: column;
    align-items: flex-start;
}

.footer-inline {
    display: inline-flex;
    align-items: center;
    padding: 3%;
}

.footer-col-2 h3 {
    white-space: nowrap;
    padding: 0 3% 0 3%;
    font-weight: 400;
    color: black;
}

footer .footer-col-1 i,
footer .footer-col-2 i {
    font-size: 1.5rem;
    margin: 2% 2% 2% 2%;
}

.org-logo {
    height: 5vh;
    width: auto;
}

.page-title {
    text-align: center;
    font-size: 3rem;
    font-weight: 600;
    color: #fff;
    padding-top: 5vh;
}

.asterisk {
    color: #cc0000;
}

