.body {
    background-color: white;
    display: block;
    margin: 5% 0% 5% 25%;
    width: 50%;
    border: outset rgb(0, 0, 0);
    border-width: 10px;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
}

.registration-header {
    min-height: 100vh;
    width: 100%;
    background-image: url('../images/test-header-image.jpg');
    background-position: center;
    background-size:cover;
    position: relative;

}


.form_container {
    padding-top: 5px;
    padding-bottom: 5px;
    background-color: white;
    background-image: url('../images/form-background.jpg');
    background-size:cover;
    text-align: center;
    font-size: 20px;
    padding: 20px;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
}

/* Registration Components */

/* Colouring the label of each input box */
label {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 25px;
    color: green;
}
  
  /* Styling the input box */
  input {
    display: inline;
    width: 250px;
    box-sizing: border-box;
    padding: 12px;
    background-color: aliceblue;
    color: black;
    font-weight: bold;
}
  
  
  /* Setting the background of the input box to dark sea green when clicked (focused) */
  input[type=text]:focus, input[type=password]:focus {
    background-color:darkseagreen;
}
  
  /* Setting the border of the input box to green when hovered over */
  input[type=text]:hover, input[type=password]:hover {
    border-color: green;
}
  
  /* Styling the Register Button */
  .register_button {
    display: block;
    cursor: pointer;
    opacity: 0.9;
    font-size: 16px;
    font-weight: bold;
    margin: 2.5% 0% 0% 25%;
    height: 50px;
    width: 50%;
    color: #000;
    background-color: greenyellow;
    border-radius: 3px;
    border: outset black;
}
  
  /* Setting the background colour of the register button to a brighter coloured green */
  .register_button:hover {
    background-color: rgb(127, 255, 47)
}

.error {
  color: red;
  font-size: 20px;
}

.country_code {
  width: 10%;
}

.toggle {
  display: inline;
  width: 20px; 
  height: 20px;
  cursor: pointer;
}

.toggle_password {
  font-size: 20px;
  margin-left: 9%;
}