body {
    width: 100vw;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background: linear-gradient(to bottom right, #E77728, #F8C537);
    overflow: hidden;
}

.card {
    display: grid;
    grid-template-columns: 300px;
    grid-template-rows: 210px 210px 80px;
    grid-template-areas: "image" "text" "stats";
    font-family: serif;
    border-radius: 18px;
    background: white;
    box-shadow: 5px 5px 15px rgba(0,0,0,0.9);
    text-align: center; 
}

.profileImage {
    grid-area: image;
    background: url("images/cardProfile.jpg");
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    border-bottom: 1px solid black;
}
  
.cardContent {
    grid-area: text;
    margin: 25px;
}

.cardContent h2 {
    margin-top: 0px;
    font-size: 28px;
}

.cardContent p {
    color: #2e2e2e;
    font-size: 15px;
    font-weight: 300;
}

.cardStats {
    grid-area: stats; 
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr;
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
    background: rgb(255, 7, 110);
}

.cardStats .stat {
    padding: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    color: white;
    font-size: 16px;
    font-weight: 500;
    border-top: 1px solid black;
}

.cardStats .border {
    border-left: 1px solid black;
    border-right: 1px solid black;
}