

 .bod
 {
     background-color: #fafafa;
     color: #fafafa;
 
     /* c8c8c8 #dbdbdb; */
 }

 .abc
 { font: caption;
    color: #fafafa;

 }
 
 .item0w
 {
     background-color:#1f204d;
     color:#555555;
     white-space:normal;
     text-align:center;
     font-family:Arial;
     font-size:14px;
     font-weight:bold;
     
 }
 
 .itemsm
 {
     color:#555555;
     text-align:center;
     font-family:Arial;
     font-size:12px;
     
 }
 
 .itemsm2
 {
     background-color:#888888;
     color:#ffffff;
     text-align:center;
     font-family:Arial;
     font-size:12px;
     
 }
 
 .grayhdr
 {
     color:#ffffff;
     background-color:#444444;
     text-align:center;
     font-family:Arial;
     font-size:12px;
 }
 
 .grayhdr2
 {
     color:#ffffff;
     background-color:#444444;
     text-align:center;
     font-family:Arial;
     font-size:22px;
 }
 
 .grayhdrspc
 {
     color:#ffffff;
     background-color:#444444;
     text-align:center;
     font-family:Arial;
 }
 
 
 .lokhdr2
 {
     color:#ffffff;
     background-color:#444444;
     text-align:center;
     font-family:Arial;
     font-size:22px;
 }
 
 .lokhdr
 {
     color:#ffffff;
     background-color:#444444;
     text-align:center;
     font-family:Arial;
     font-size:12px;
 }
 
 .estship
 {
     color:#111111;
     font-family:Arial;
     font-size:10px;
 }
 
 .inp
 {
     background-color:#222222;
     color:#ffffff;
     white-space:normal;
     text-align:center;
     font-family:Arial;
     font-size:11px;
     font-weight:bold;
 }
 
 .bw
 {
     font-family:Verdana, Arial, Helvetica, sans-serif;
     color:#000000;
     font-size:smaller;
 }
 
 .inpBig
 {
     font-family:Verdana, Arial, Helvetica, sans-serif;
     color:#000000;
     font-weight:bold;
     font-size:18px;
 }
 
 .item0
 {
     color:#555555;
     white-space:normal;
     text-align:center;
     font-family:Arial;
     font-size:12px;
     
 }
 
 
 a.item0:link, a.item0:visited, a.item0:focus, a.item0:active
 {
     text-decoration:none;
 }
 
 a.item0:hover
 {
     text-decoration:'underline';
     color:#555555;
 }
 
 .hdr0nc
 {
     color:#555555;
     font-family:Arial;
     font-size:12px;
     font-weight:bold;
     
 }
 
 .hdr0
 {
     color:#555555;
     white-space:nowrap;
     text-align:center;
     font-family:Arial;
     font-size:12px;
     font-weight:bold;
     
 }
 
 a.hdr0:link
 {
     text-decoration:'underline';
 }
 
 .hdr9boo
 {
     color:#ffffff;
     background-color:#a0a0a0;
     font-family:Arial;
     font-size:14pt;
     font-weight:bold;
     
 }
 
 .sdr0t
 {
     color:#555555;
     font-family:Arial;
     font-size:13px;
     font-weight:bold;
     
 }
 
 .hdr9
 {
     color:#555555;
     font-family:Arial;
     font-size:14pt;
     font-weight:bold;
     
 }
 
 a.hdr9:link
 {
     text-decoration:'underline';
 }
 
 a.hdr9:visited
 {
     text-decoration:'underline';
     color:#ff0000;
 }
 a.hdr9:hover, a.hdr9:focus
 {
     text-decoration:none;
     color:#555555;
 }
 
 .ip2
 {
     color:#ff0000;
     background-color:#dddddd;
     text-align:center;
     font-family:Arial;
     font-size:12px;
 }
 
 .ip
 {
     color:#9b9c3c;
     text-align:center;
     font-family:Arial;
     font-size:12px;
 }
 
 .butt
 {
     background-color:#000000;
     color:#ffffff;
     font-family:Arial;
     font-size:13px;
     font-weight:bold;
 
 }
 
 .sdr0nb
 {
     color:#000000;
     font-family:Arial;
     font-size:13px;
 }
 
 .sdr0
 {
     color:#000000;
     font-family:Arial;
     font-size:13px;
     font-weight:bold;
     
 }
 
 a.sdr0:link
 {
     text-decoration:'underline';
 }
 
 a.sdr0:hover, a.sdr0:focus
 {
     text-decoration:none;
 }
 
 .footer
 {
     color:#555555;
     font-family:Arial;
     font-size:12px;
     font-weight:normal;
     
 }
 
 a.footer:link
 {
     text-decoration:none;	
 }
 
 a.footer:visited
 {
     text-decoration:none;	
 }
 a.footer:hover, a.footer:focus
 {
     text-decoration:'underline';
 }
 