/* Add padding to containers */
body {
  background-color: white;
  display: block;
  margin: 5% 0% 5% 25%;
  width: 50%;
  border: outset rgb(0, 0, 0);
  border-width: 10px;
  font-family: Arial, Helvetica, sans-serif;
  text-align: center;
}

/* Portrait Card Styles */
.portrait_card {
  margin: 15px;
  margin-left: 20px;
  border: 1px solid #ccc;
  float: left;
  width: 200px;
  height: 300px;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  transition: 0.3s;

}

.portrait_card:hover {
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
  border: 1px solid #777;
}

.portrait_card_container {
  padding: 2px 16px;
}


/* Landscape Cards Styles */
.landscape_card {
  margin-left: 20px;
  border: 1px solid #ccc;
  float: left;
  width: 300px;
  height: 200px;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  transition: 0.3s;
  display: flex;
  padding-right: 135px;

}

.landscape_card:hover {
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
  border: 1px solid #777;
}

.landscape_card_container {
  padding: 2px 16px;
}

.card_desc {
  padding: 15px;
  text-align: center;
}

/* Styling the cards' links to remove text decoration and colour */
a:link {
  text-decoration: none;
  color: black;
}
