body {
  display: block;
  background-color: #85DCBA;
  margin: auto;
  width: 50%;
  font-family: Georgia;
}

main {
  padding: 10px;
  background-color: #f3f3f3;
}

h1 {
  text-align: center;
  color: #C38D9E;
}

.card_number {
  color: #41B3A3;
}

.card {
  width: 300px;
  background: #fff;
  transition: box-shadow 0.3s ease-in-out;
  box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.15);
  border: 1px solid #f1f1f1;
}

.card:hover {
  box-shadow: 0 1px 35px 0 rgba(0, 0, 0, 0.3);
}

.card.card--wide {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 768px;
}

.card__media {
  position: relative;
  width: 300px;
}

.card__media::before {
  content: '';
  display: block;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: rgba(0, 0, 0, 0.3);
}

.card__media img {
  display: block;
  max-width: 100%;
  height: auto;
}

.card__date {
  position: absolute;
  right: 20px;
  top: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 70px;
  height: 70px;
  border-radius: 50%;
  background: #e74c3c;
  color: white;
  font-weight: bold;
}

.date--day {
  font-size: 20px;
  line-height: 1;
}

.date--month {
  font-size: 14px;
  line-height: 1;
  text-transform: uppercase;
}

.card__category {
  position: absolute;
  bottom: 0;
  left: 0;
  font-size: 14px;
  font-weight: bold;
  letter-spacing: 0.06em;
  display: inline-block;
  color: white;
  background: #e74c3c;
  text-align: center;
  padding: 5px 15px;
  text-transform: uppercase;
}

.card__content {
  padding: 40px 25px;
  color: #999999;
  transition: all 0.3s cubic-bezier(0.37, 0.75, 0.61, 1.05) 0s;
}

.card--wide .card__content {
  padding: 20px 20px;
  width: calc(100% - 300px);
}

.card__excerpt {
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.3s ease-in-out;
}

.card--wide .card__excerpt {
  max-height: none;
}

.card:hover .card__excerpt {
  max-height: 300px;
}

.card__title {
  color: initial;
  margin: 0 0 10px;
  font-size: 20px;
}

.card__subtitle {
  color: #e74c3c;
  font-weight: 300;
}

.card__meta {
  color: #ccc;
  font-size: 14px;
}

.flip-card {
  background-color: transparent;
  width: 300px;
  height: 300px;
  perspective: 1000px;
  ;
}

.flip-card-inner {
  position: relative;
  width: 100%;
  height: 100%;
  text-align: center;
  transition: transform 0.8s;
  transform-style: preserve-3d;
}

.flip-card:hover .flip-card-inner {
  transform: rotateY(180deg);
}


.flip-card-front,
.flip-card-back {
  position: absolute;
  width: 100%;
  height: 100%;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
}

.flip-card-front {
  background-color: #bbb;
  color: black;
}

.flip-card-back {
  background-color: #E3A857;
  color: #3D2B1F;
  border: 1px solid #f1f1f1;
  font-size: 24px;
  transform: rotateY(180deg);
}

img {
  width: 300px;
  height: 300px;
  border: 1px solid #f1f1f1;
}