* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
    scroll-behavior: smooth;
}

/* NAVIGATION */
header {
    background-color: #ededed;
    top: 0;
    left: 0;
    width: 100%;
    height: 80px;
}

header nav .logo img {
    position: relative;
    top: 15px;
    left: 50%;
    transform: translateX(-50%);
    height: 50px;
    width: 100px;
}

header nav .left-aligned-links a {
    position: relative;
    top: -25px;
    left: 20%;
    padding: 0px 30px;
    text-decoration: none;
    font-size: 20px;
    color: black;
    display: inline-block;
}

header nav .right-aligned-links a {
    position: relative;
    top: -50px;
    left: 55%;
    padding: 0px 30px;
    text-decoration: none;
    font-size: 20px;
    color: black;
    display: inline-block;
}

header nav a:hover {
    color: #E77728;
}

article {
    border: solid 1px;
}

footer {
    border: solid 1px;
}