body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: #cfcfcf
}
    
* {
    box-sizing: border-box;
}
    
.form {
  padding: 16px;
  background-color: white;
  max-width: 100%;
  width: 1200px;
  margin: 80px auto;
  padding: 0 40px;
}

h1 {
    padding-top: 20px;
}

input[type=text], input[type=password] {
    width: 100%;
    padding: 15px;
    margin: 5px 0 22px 0;
    display: inline-block;
    border: none;
    background: #f1f1f1;
  }
    
input[type=text]:focus, input[type=password]:focus {
    background-color: #ddd;
    outline: none;
}
    
hr {
    border: 1px solid #f1f1f1;
    margin-bottom: 25px;
}
    
.registerbtn {
    background-color: #04AA6D;
    color: white;
    padding: 16px 20px;
    margin: 12px 0;
    border: none;
    cursor: pointer;
    width: 100%;
    opacity: 0.9;
    font-size: 1.2em;
}
    
.registerbtn:hover {
    opacity: 1;
}
    
a {
    color: dodgerblue;
}
    
.signin {
    background-color: #cfcfcf;
    text-align: center;
    padding-bottom: 20px;
}